.header {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #333;
  background-color: #fbfbfb;
  padding: 10px;
  border-bottom: 2px solid #e9e9e9;
  line-height: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 320px;
  max-width: 480px;

  a {
    display: block;
    position: absolute;

    svg {
      fill: red;
    }

  }

}